// flexbox
%flexboxhero {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
  width: 100%;
}


%inline-flex {
  	display: -webkit-inline-box;
  	display: -webkit-inline-flex;
  	display: -moz-inline-flex;
  	display: -ms-inline-flexbox;
  	display: inline-flex;
  }


%flexbox {
  display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

// positioning

%absolute  {
  position: absolute;
}

%relative {
  position: relative;
}

%center {
  text-align: center;
}

%left {
  text-align: left;
}

%right {
  text-align: right;
}
