@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

  @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w7CGwR0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import "abstracts/placeholders";
@import "abstracts/mixins";
@import "base/colors";
@import "base/reset";
@import "base/typography";
@import "components/buttons";
@import "layout/navigation";
@import "layout/grid";

body {
  font-family: $sans;
  font-weight: $normal;
  color: $trout;
  line-height: $standard;
}

h1 {
  font-family: $slab;
  font-size: $xlarge;
  font-weight: $bold;
  padding: $pad-common;
}

h3 {
  font-family: $slab;
  font-size: $large;
  font-weight: $bold;
}

p {
  font-family: $accent-sans;
  font-size: $medium;
  line-height:$narrow;
  padding: $pad-common;
}

a {
  text-decoration: none;
  color: $trout;
}

li {
  @extend %right;
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: $xsmall;
  font-weight: $bold;
  letter-spacing: $stretch;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

// Display

.hide {
  display: none;
}

// Page Wrappers
.flex-container {
  @extend %flexherostretchbetween;
  height: 100vh;
  background-color: $porcelain
}
.experience-flex-container {
  @extend %flexherostretchbetween;
  background-color: $porcelain
}
.achieve-flex-container {
  @extend %flexherostretchbetween;
  background-color: $minsk;
}

// Nav Elements
.side-nav {
  @extend %navbox;
}

.page-indicator {
 @extend %pageindicator;
}

.nav {
  margin-top: 78%;
  .strikethrough {
    text-decoration: line-through;
  }
  }

//Main content sections
.main-content {
  @extend %maincontentleft;
  width: 71vw;
    .headline {
      @extend %headlinetext;
  }
}

.covering-main-content {
  @extend %maincontentleft;
  padding-top: 4%;
  @extend %right;
    .covering-headline {
       @extend %headlinetext;
       @extend %right;
       margin-right: 5vw;
    }
}

.experience-main-content {
  @extend %maincontentleft;
  @extend %maincontentflexcolumnright;
  @include flex-grow (1);
  margin-right: 5vw;
  padding-left: 5vw;
    }

.achieve-main-content {
  @extend %maincontentleft;
  @extend %maincontentflexcolumnright;
  @include align-self (flex-end);
  width: 50vw;
  margin-top: 2%;
  padding-top: 1.5%;
  padding-bottom: 5%;
    }

.skills-main-content {
  @extend %cardwrapparent;
}

// Page Content Home Page

  .divider {
    @include positionz (relative, 2);
    width: 18vw;
    margin-left: 16vw;
    padding-top: 0.5%;
    background-color: $minsk;
  }

  .intro {
    @extend %introtext;
    @include positionz (relative, 2);
    margin-left: 6.4vw;
    width: 30vw;
  }

  .img {
    @extend %absolute;
    top: 11%;
    width: 40vw;
    height: 70%;
    margin-left: 25vw;
    background-color: $white;
  }

  // Page Content Covering Page

  .covering-intro {
    @extend %introtext;
    @extend %right;
    @include positionz (relative, 2);
    float: right;
    width: 40vw;
    margin-right: 5vw;
  }
  .covering-img {
    @extend %absolute;
    top: 0px;
    right: 45vw;
    margin-top: 37%;
    height: 40%;
    width: 20vw;
    background-color: $white;
  }

// Page Content Experience Page

.employment {
  @extend %expflexwrapper;
  width: 50vw;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 7%;
  padding-bottom: 7%;
  background-color: $martinique;
}

.date {
  @extend %largeboldsans;
  @include positionz (absolute, 2);
  left: -17vw;
  top: 15%;
  color: $tundora;
}

.job {
  @extend %absolute;
  @extend %jobtext;
  left: -13vw;
  top: 17%;
  padding: 4% 2vw;
}

.position {
  @extend %absolute;
  @extend %capsinfotext;
  left: -10vw;
  top: 52%;
  padding: 2% 2vw;
}

.details {
  @include align-self (flex-end);
  width: 48vw;
  margin-bottom: 5%;
  padding-top: 2%;
  border: 1vw solid $minsk;
}

.sub-text {
  @extend %subtext;
  margin-left: 2vw;
}

.job-text {
  @extend %bodytext;
  margin-bottom: 5%;
}

.client-block {
  width: 40vw;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7%;
  padding-bottom: 7%;
  background-color: $white;
}

.view-details {
@extend %viewbtn;
}

.close-details {
@extend %closebtn;
}

// acheivement page content

.achievement {
  @include positionz (relative, 2);
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  right: 2.5vw;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  background-color: $white;
}

.achieve-subhead {
  @extend %subtext;
  margin-top: 5%;
  margin-bottom: 1%;
  margin-left: 2vw;
}

.achieve-sectiontext {
  @include positionz (absolute, 2);
  @extend %largeboldsansacheive;
  left: -20vw;
  color: $white;
}

.achieve-capsinfo {
  @extend %capsinfotext;
  margin-left: 0.3vw;
}

.achieve-text {
  @extend %bodytext;
  margin-top: -3%;
  padding-bottom: 5%;
}

// Skills Page content

.skill {
  @extend %subtext;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 8% 1vw;
  background-color: #fff;
}

.skill-item {
  @extend %center;
  width: 30%;
  height: 45%;
  margin-bottom: 5%;
  margin-left: 1vw;
  background-color: $minsk;
}

.icon {
  display: inline-block;
  width: 6vw;
  margin-top: 7%;
  padding-bottom: 26%;
  background-color: $martinique;
}

.skilltext {
  @extend %bodytext;
  @extend %left;
  width: 18vw;
  margin-bottom: 1%;
  padding-bottom: 9%;
  padding-left: 1vw;
  color: $white;
}
