@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w7CGwR0.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
.flex-container, .experience-flex-container, .achieve-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.experience-main-content, .achieve-main-content, .skills-main-content, .employment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.img, .covering-img, .job, .position {
  position: absolute; }

.main-content .headline, .covering-main-content .covering-headline, .main-content, .covering-main-content, .experience-main-content, .achieve-main-content, .employment {
  position: relative; }

.view-details, .close-details, .page-indicator, .skill-item {
  text-align: center; }

.skilltext {
  text-align: left; }

li, .covering-main-content, .covering-main-content .covering-headline, .covering-intro {
  text-align: right; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body, .job-text, .achieve-text, .skilltext {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:focus,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. CUSTOM FOR WEBFLOW: Removed the input[type="submit"] selector to reduce
 *    specificity and defer to the .w-button selector
 */
button,
html input[type="button"],
input[type="reset"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. CUSTOM FOR WEBFLOW: changed from `textfield` to `none` to normalize iOS rounded input
 * 2. CUSTOM FOR WEBFLOW: box-sizing: content-box rule removed
 *    (similar to normalize.css >=4.0.0)
 */
input[type="search"] {
  -webkit-appearance: none;
  /* 1 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.main-content .headline, .covering-main-content .covering-headline {
  margin-top: 15%;
  z-index: 2;
  color: #E74C3C; }

.intro, .covering-intro {
  font-size: 1.5vw;
  line-height: 140%; }

.date {
  font-size: 3.8vw;
  font-weight: 700;
  line-height: 100%; }

.achieve-sectiontext {
  font-size: 2.9vw;
  font-weight: 700;
  line-height: 90%; }

.job {
  background-color: #fff;
  color: #E74C3C;
  font-size: 2.4vw; }

.position, .achieve-capsinfo {
  background-color: #fff;
  font-size: 0.8vw;
  line-height: 140%;
  font-weight: 700;
  letter-spacing: 0.2vw;
  text-transform: uppercase; }

.sub-text, .achieve-subhead, .skill {
  font-family: "Roboto Slab", sans-serif;
  color: #E74C3C;
  font-size: 2vw; }

.job-text, .achieve-text, .skilltext {
  font-size: 1.2vw;
  letter-spacing: -0.05vw; }

.view-details, .close-details {
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.2vw;
  font-weight: 700;
  line-height: 120%; }

.view-details {
  width: 6vw;
  padding: 2% 2vw;
  background-color: #393395;
  color: #fff; }

.close-details {
  width: 6vw;
  padding: 2% 2vw;
  margin-bottom: 3%;
  color: #393395;
  float: right; }

.side-nav {
  -webkit-flex-basis: 20vw;
  -moz-flex-basis: 20vw;
  -ms-flex-preferred-size: 20vw;
  flex-basis: 20vw;
  padding-right: 2.5vw;
  background-color: #fff; }

.page-indicator {
  margin-top: 23%;
  padding-top: 4%;
  padding-bottom: 4%;
  letter-spacing: 0.2vw;
  color: #2c2c2c;
  background-color: #F5F8F8;
  font-size: 0.8vw;
  font-weight: 700; }

.flex-container, .experience-flex-container, .achieve-flex-container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch; }

.main-content, .covering-main-content, .experience-main-content, .achieve-main-content {
  background-color: #F5F8F8; }

.experience-main-content, .achieve-main-content {
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }

.skills-main-content {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  width: 65vw;
  padding: 2% 5vw; }

.employment {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

body, .job-text, .achieve-text, .skilltext {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #4d5063;
  line-height: 130%; }

h1 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 3.8vw;
  font-weight: 700;
  padding: 2% 2vw; }

h3 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 2.4vw;
  font-weight: 700; }

p {
  font-family: Roboto, sans-serif;
  font-size: 1.5vw;
  line-height: 120%;
  padding: 2% 2vw; }

a {
  text-decoration: none;
  color: #4d5063; }

li {
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 0.7vw;
  font-weight: 700;
  letter-spacing: 0.2vw;
  text-transform: uppercase; }

ul {
  list-style: none; }

.hide {
  display: none; }

.flex-container {
  height: 100vh;
  background-color: #F5F8F8; }

.experience-flex-container {
  background-color: #F5F8F8; }

.achieve-flex-container {
  background-color: #393395; }

.nav {
  margin-top: 78%; }
  .nav .strikethrough {
    text-decoration: line-through; }

.main-content {
  width: 71vw; }

.covering-main-content {
  padding-top: 4%; }
  .covering-main-content .covering-headline {
    margin-right: 5vw; }

.experience-main-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 5vw;
  padding-left: 5vw; }

.achieve-main-content {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 50vw;
  margin-top: 2%;
  padding-top: 1.5%;
  padding-bottom: 5%; }

.divider {
  position: relative;
  z-index: 2;
  width: 18vw;
  margin-left: 16vw;
  padding-top: 0.5%;
  background-color: #393395; }

.intro {
  position: relative;
  z-index: 2;
  margin-left: 6.4vw;
  width: 30vw; }

.img {
  top: 11%;
  width: 40vw;
  height: 70%;
  margin-left: 25vw;
  background-color: #fff; }

.covering-intro {
  position: relative;
  z-index: 2;
  float: right;
  width: 40vw;
  margin-right: 5vw; }

.covering-img {
  top: 0px;
  right: 45vw;
  margin-top: 37%;
  height: 40%;
  width: 20vw;
  background-color: #fff; }

.employment {
  width: 50vw;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 7%;
  padding-bottom: 7%;
  background-color: #323048; }

.date {
  position: absolute;
  z-index: 2;
  left: -17vw;
  top: 15%;
  color: #473d3d; }

.job {
  left: -13vw;
  top: 17%;
  padding: 4% 2vw; }

.position {
  left: -10vw;
  top: 52%;
  padding: 2% 2vw; }

.details {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 48vw;
  margin-bottom: 5%;
  padding-top: 2%;
  border: 1vw solid #393395; }

.sub-text {
  margin-left: 2vw; }

.job-text {
  margin-bottom: 5%; }

.client-block {
  width: 40vw;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7%;
  padding-bottom: 7%;
  background-color: #fff; }

.achievement {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  right: 2.5vw;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  background-color: #fff; }

.achieve-subhead {
  margin-top: 5%;
  margin-bottom: 1%;
  margin-left: 2vw; }

.achieve-sectiontext {
  position: absolute;
  z-index: 2;
  left: -20vw;
  color: #fff; }

.achieve-capsinfo {
  margin-left: 0.3vw; }

.achieve-text {
  margin-top: -3%;
  padding-bottom: 5%; }

.skill {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 8% 1vw;
  background-color: #fff; }

.skill-item {
  width: 30%;
  height: 45%;
  margin-bottom: 5%;
  margin-left: 1vw;
  background-color: #393395; }

.icon {
  display: inline-block;
  width: 6vw;
  margin-top: 7%;
  padding-bottom: 26%;
  background-color: #323048; }

.skilltext {
  width: 18vw;
  margin-bottom: 1%;
  padding-bottom: 9%;
  padding-left: 1vw;
  color: #fff; }

/*# sourceMappingURL=nickresume.css.map */
