.side-nav {
  padding-right: 2.5vw;
  @include flex-basis (20vw);
  background-color: $white;
  .page-indicator {
    margin-top: 23%;
    padding-top: 4%;
    padding-bottom: 4%;
    letter-spacing: $stretch;
    color: $mine-shaft;
    background-color: $porcelain;
    font-size: $small;
    font-weight: $bold;
    @extend %center;
  }
}
}

.nav {
margin-top: 78%;
.strikethrough {
  text-decoration: line-through;
}
}
