%navbox {
@include flex-basis (20vw);
padding-right: 2.5vw;
background-color: $white;
}

%pageindicator {
@extend %center;
margin-top: 23%;
padding-top: 4%;
padding-bottom: 4%;
letter-spacing: $stretch;
color: $mine-shaft;
background-color: $porcelain;
font-size: $small;
font-weight: $bold;
}
