// Font-Stack
$slab: "Roboto Slab", sans-serif;
$sans: Montserrat, sans-serif;
$accent-sans: Roboto, sans-serif;

// font-weights
$normal: 400;
$bold: 700;

//line-height
$standard: 130%;
$narrow: 120%;
$wide: 140%;

// text-szes
$xlarge: 3.8vw;
$large: 2.4vw;
$medium: 1.5vw;
$small: 0.8vw;
$xsmall: 0.7vw;

// padding
$pad-common: 2% 2vw;

//letter-spacing
$stretch: 0.2vw;
